.Movies{
  block-size: border-box;
}

.Movie{
  width: 25%;
  float: left;
  height: 670px;
  border:solid;
  border-color: white;
  background: #696af3;
  cursor: pointer;
}

.Movie img {
  width: 100%;
}

.Movie a {
  color: white;
  text-decoration: none;
}
